/**** polices ****/
@font-face{
	font-family: "Soria";
	src: url("../polices/Soria.ttf");
}
@font-face{
	font-family: "Cabrion";
	src: url("../polices/Cabrion.otf");
}
@font-face{
	font-family: "Aliandra";
	src: url("../polices/Aliandra.ttf");
}
/**** all ****/
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family: "Cabrion", "Times New Roman", serif;
	margin-top: 130px;
	background-color: #f8f3ed;
} 
h1, h2, h3, h4{
	text-align: center;
	font-family: "Soria";
}
section{
	margin-bottom: 50px;
}
input{
    text-align: center;
}
ul {
	list-style-type : none;
}
iframe{
	border: 0;
	width: 560px; 
	height: 315px;
}
.btn-primary{
	border-radius: 0;
	color: white;
	background-color: rgb(1, 37, 73);
	border-color: rgb(1, 37, 73);
	opacity: 90%;
}
.profile{
    text-align: center;
	margin: 10px;
}
#socialLinksWrapper{
	display: inline-block;
	text-align: center;
}
.hr_separator{
	height: 3px; 
	color: rgb(1, 37, 73);; 
	width: 50%; 
	border: 1px dashed rgb(1, 37, 73);;
}

/**** navbar ****/
#navigation{
    padding: 8px;
	background-color: rgb(1, 37, 73);;
	opacity: 90%;
}
.navbar{
	flex-wrap: wrap;
}
.navbar-nav{
	margin: auto;
	position: relative;
	right: 0%;
}
.nav-link{
	color:rgb(250, 250, 250);
	font-size: 140%;
	padding-left: 100%;
}
#inputDateFrom, #inputDateTo{
	max-width: 100px;
	border-radius: 5px;
	height: 40px;
}
#searchInput{
	max-width: 150px;
	border-radius: 5px;
}
#reservation{
	margin: auto;
	color: white;
}
#searchBtn{
	border-radius: 5px;
} 

/**** carousel ****/
.carousel-item{
	height: 85vh;
	min-height: 350px;
	background: no-repeat center center scroll;
	background-size: cover;
}
.caption{
	color: white;
}

/**** cards ****/
.card-body{
	margin: 1%;
}
.card{
	margin: 0.6%;
	padding: 0.1%;
}	
.notices{
	width: 580px;
	margin: 0.6%;
}

/**** footer ****/
footer{
	margin-left: 28%;
	margin-right: 28%;
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: center;
	font-size: 0.8em; 
}
#footer h2{
	display: none;
}

/**** media ****/
@media all and (max-width : 991px){
	#inputDateFrom, #inputDateTo, #fromTo, #chambersNb, #peopleNb, #labelDate, 
    .photo_reservation{
        display: none;
    }
    #searchInput{
        max-width: 106px;
    }
    .responsive {
        width: 100%;
        height: auto;
    }
}

@media all and (max-width : 600px){

}

/**** index ****/
#otherLinks h2{
	display: none;
}

/**** chambers ****/
#chambres{
	margin-top: 30px;
	font-size:1.8em;
	position: relative;
	left:15%;
}
#chambres a{
	color: black;
}
.container.Classique{
	padding-top: 50px ;
}
#Confort{
	padding-top: 200px;
}
#Deluxe{
	padding-top: 200px;
}
#Suite{
	padding-top: 200px;
	padding-bottom: 100px;
}
.details p{
	text-align: center;
}
#detailClas{
	display:none;
}
#detailClas1{
	display:none;
}
#detailClas2{
	display:none;
}
.animClas{
	width: 95%;
	height: 95%;
}
.animConf{
	width: 95%;
	height: 95%;
}
.animDelu{
	width: 95%;
	height: 95%;
}
.animSuit{
	width: 95%;
	height: 95%;
}
@media all and (max-width : 800px){ 
.chamberSeparator{
	display: none;
}
}
/**** mettre en gras les pages chambres ****/
.infopra{
	font-weight:700;
	text-transform: uppercase;
	font-family: "Soria";
	font-size: 1.2em;
}
.descrip{
	font-weight:700;
	text-transform: capitalize;
}
.CCDS{
	font-family: "Soria";
	font-size: 1.9em;
	color: black;
	width: 100%;
}
.CCDS a{
	color: black;

}
.liens{
	display: block;
	margin-left: 20%;
	
}

/**** contact ****/
.aideForm{
	margin:40px;
	padding-top: 30px;
}
/**** contact et recruitment ****/
.alertCom{
	font-size:0.8em;
	color: red;
}

/**** spa ****/
#ourOpinion1, #ourOpinion2, #ourOpinion3, #ourOpinion4, #ourOpinion5{
	margin-top: 10px;
	display: none;
}

/**** background pour des containers spécifiques ****/
.restaurant, .spa, .mapping, .events, .history{
	background-color: rgb(223, 245, 255);
	width: 80%;
	padding: 2%;
}

/**** map ****/
#map{
	width: 950px;
	height: 600px;
	border: 0;
	margin: auto;
	display: block;
}

/**** reservation ****/
#reservationContainer{
	border: solid 2px rgb(1, 37, 73);;
	border-radius: 15px;
	padding: 15px;
	background-color: white;
	margin: auto;
}
#inputDateFromReservation, #inputDateToReservation{
	max-width: 100px;
}

/**** notice ****/
.rating {
	direction: rtl;
 }
 .rating a {
	color: #aaa;
	text-decoration: none;
	font-size: 3em;
	transition: color .4s;
 }
 .rating a:hover,
 .rating a:focus,
 .rating a:hover ~ a,
 .rating a:focus ~ a {
	color: orange;
	cursor: pointer;
 }
 #noticeArea{
	 height: 100px;
	 width: 600px;
 }
 #noticeName{
	width: 600px;
 }
