body
{
	margin: 0;
	font-family: "Comic Sans MS", "Arial Black", "Times New Roman", serif;
} 

#navigation
{
    padding: 8px;
	background-color: rgb(20, 20, 20);
	opacity: 90%;
}

.navbar {
	flex-wrap: wrap;
}

.navbar-nav
{
	margin: auto; 
}

#margin-top{
	margin-top: 130px;
}

.profile{
    text-align: center;
	margin: 10px;
}

#socialLinksWrapper{
	display: inline-block;
	text-align: center;
}

.carousel-item 
{
	height: 80vh;
	min-height: 350px;
	background: no-repeat center center scroll;
	background-size: cover;
}

.card-body
{
	margin: 1%;
}

.card
{
	width: 580px;
	margin: 0.6%;
}

h1
{
	text-align: center;
    margin-top: 20px;
}

h2, h4
{
	font-size: 2em;
}

form.was-validated
{
	background: #D3D3D3;
	padding: 1%;
	border: 4px #D3D3D3 ridge;
  	border-radius: 10px;
}

#registration_form
{
	margin-top: 5%;
	margin-bottom: 5%;
}

footer 
{
	margin-left: 28%;
	margin-right: 28%;
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: center;
	font-size: 0.8em; 
}

@media all and (max-width : 1024px)
{
	/* #nav-triage, #carouselExampleIndicators
	{
		display: none;
	} */
}

/**** chambers******/
#chambres{
	margin-top: 30px;
	font-size:30px;
}
#chambres a{
	color: black;
}
#Classique{
padding-top: 200px ;
}
#idClasImg{
	display:none;
	
}

#Confort{
	padding-top: 200px ;

}
#idConfImg{
	display:none;
	
}
#Deluxe{
	padding-top: 200px ;

}
#Suite{
	padding-top: 200px ;
	padding-bottom: 100px;

}
.details p{
	text-align: center;
}