/**** all ****/
body{
	margin: 0;
	font-family: "Comic Sans MS", "Arial Black", "Times New Roman", serif;
} 

h1{
	text-align: center;
    margin-top: 20px;
}

section{
	margin-bottom: 50px;
}

.label{
	float: left;
}

.profile{
    text-align: center;
	margin: 10px;
}

#socialLinksWrapper{
	display: inline-block;
	text-align: center;
}

/**** navbar ****/
#navigation{
    padding: 8px;
	background-color: rgb(20, 20, 20);
	opacity: 90%;
}

.navbar{
	flex-wrap: wrap;
}

.navbar-nav{
	margin: auto; 
}

.nav-link{
	color: white;
}

#reservation{
	margin: auto;
}

#margin-top{
	margin-top: 130px;
}

/**** carousel ****/
.carousel-item 
{
	height: 80vh;
	min-height: 350px;
	background: no-repeat center center scroll;
	background-size: cover;
}

.caption{
	color: white;
}

/**** cards ****/
.card-body{
	margin: 1%;
}

.card{
	width: 580px;
	margin: 0.6%;
}

/**** footer ****/
footer 
{
	margin-left: 28%;
	margin-right: 28%;
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: center;
	font-size: 0.8em; 
}

/**** media ****/
@media all and (max-width : 1024px)
{
	/* #nav-triage, #carouselExampleIndicators
	{
		display: none;
	} */
}

/**** chambers******/
#chambres{
	margin-top: 30px;
	font-size:30px;
}
#chambres a{
	color: black;
}
#Classique{
padding-top: 200px ;
}
#idClasImg{
	display:none;
}

#Confort{
	padding-top: 200px ;

}
#Deluxe{
	padding-top: 200px ;

}
#Suite{
	padding-top: 200px ;
	padding-bottom: 100px;

}
.details p{
	text-align: center;
}

/**** restaurant ****/
.restaurant{
	background-color: rgb(200, 200, 235);
	width: 80%;
	padding: 2%;
}

/**** map ****/
#map{
	width: 910px;
	height: 600px;
	border: 0;
	margin: auto;
	display: block;
}
